
body{
    margin: 0px;
}

button {
    cursor: pointer;
    --tw-duration: 300ms;
    transition-duration: 300ms;
    
}

input {
    border: 1px black solid;
}

h1{
    font-weight: bolder;
}

.rdp-day_selected, .rdp-day_selected:focus, .rdp-day_selected:hover {
  background-color: #4A6B5F !important;
  color: #fff !important;
}